.dart_tool/
.packages
build/

.idea/

**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/android/.gradle/
**/android/captures/
**/android/local.properties

*.g.dart
*.freezed.dart
*.mocks.dart

.env
**/google-services.json
**/GoogleService-Info.plist

coverage/